<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amchis.mapper.QuestionnaireMapper">
  <resultMap id="BaseResultMap" type="com.amchis.bean.Questionnaire">
    <id column="id" jdbcType="TINYINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="valid" jdbcType="VARCHAR" property="valid" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="career" jdbcType="VARCHAR" property="career" />
    <result column="educational_level" jdbcType="VARCHAR" property="educationalLevel" />
    <result column="marital_status" jdbcType="VARCHAR" property="maritalStatus" />
    <result column="sleep_condition" jdbcType="VARCHAR" property="sleepCondition" />
    <result column="smoking" jdbcType="VARCHAR" property="smoking" />
    <result column="drink" jdbcType="VARCHAR" property="drink" />
    <result column="favorite_sport" jdbcType="VARCHAR" property="favoriteSports" />
    <result column="weekly_exercise_time" jdbcType="VARCHAR" property="weeklyExerciseTimes" />
    <result column="health_investment" jdbcType="VARCHAR" property="healthInvestments" />
    <result column="diabetes" jdbcType="VARCHAR" property="diabetess" />
    <result column="cardiovascular_disease" jdbcType="VARCHAR" property="cardiovascularDiseases" />
    <result column="skin_disease" jdbcType="VARCHAR" property="skinDiseases" />
    <result column="infection" jdbcType="VARCHAR" property="infections" />
    <result column="adverse_reactions" jdbcType="VARCHAR" property="adverseReactions" />
    <result column="medical_history" jdbcType="VARCHAR" property="medicalHistorys" />
    <result column="history_of_surgery" jdbcType="VARCHAR" property="historyOfSurgery" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, valid, phone, career, educational_level, marital_status, sleep_condition,
    smoking, drink, favorite_sport, weekly_exercise_time, health_investment, diabetes,
    cardiovascular_disease, skin_disease, infection, adverse_reactions, medical_history,
    history_of_surgery,create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from questionnaire
    where id = #{id,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from questionnaire
    where id = #{id,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.amchis.bean.Questionnaire">
    insert into questionnaire (user_name, valid,
      phone, career, educational_level, 
      marital_status, sleep_condition, smoking, 
      drink, favorite_sport, weekly_exercise_time, 
      health_investment, diabetes, cardiovascular_disease,
      skin_disease, infection, adverse_reactions,
      medical_history, history_of_surgery,create_time)
    values (#{userName,jdbcType=VARCHAR}, #{valid,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{career,jdbcType=VARCHAR}, #{educationalLevel,jdbcType=VARCHAR}, 
      #{maritalStatus,jdbcType=VARCHAR}, #{sleepCondition,jdbcType=VARCHAR}, #{smoking,jdbcType=VARCHAR}, 
      #{drink,jdbcType=VARCHAR}, #{favoriteSports,jdbcType=VARCHAR}, #{weeklyExerciseTimes,jdbcType=VARCHAR},
      #{healthInvestments,jdbcType=VARCHAR}, #{diabetess,jdbcType=VARCHAR}, #{cardiovascularDiseases,jdbcType=VARCHAR},
      #{skinDiseases,jdbcType=VARCHAR}, #{infections,jdbcType=VARCHAR}, #{adverseReactions,jdbcType=VARCHAR},
      #{medicalHistorys,jdbcType=VARCHAR}, #{historyOfSurgery,jdbcType=VARCHAR},#{createTime})
  </insert>
  <insert id="insertSelective" parameterType="com.amchis.bean.Questionnaire">
    insert into questionnaire
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="career != null">
        career,
      </if>
      <if test="educationalLevel != null">
        educational_level,
      </if>
      <if test="maritalStatus != null">
        marital_status,
      </if>
      <if test="sleepCondition != null">
        sleep_condition,
      </if>
      <if test="smoking != null">
        smoking,
      </if>
      <if test="drink != null">
        drink,
      </if>
      <if test="favoriteSports != null">
        favorite_sport,
      </if>
      <if test="weeklyExerciseTimes != null">
        weekly_exercise_time,
      </if>
      <if test="healthInvestments != null">
        health_investment,
      </if>
      <if test="diabetess != null">
        diabetes,
      </if>
      <if test="cardiovascularDiseases != null">
        cardiovascular_disease,
      </if>
      <if test="skinDiseases != null">
        skin_disease,
      </if>
      <if test="infections != null">
        infection,
      </if>
      <if test="adverseReactions != null">
        adverse_reactions,
      </if>
      <if test="medicalHistorys != null">
        medical_history,
      </if>
      <if test="historyOfSurgery != null">
        history_of_surgery,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="career != null">
        #{career,jdbcType=VARCHAR},
      </if>
      <if test="educationalLevel != null">
        #{educationalLevel,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null">
        #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="sleepCondition != null">
        #{sleepCondition,jdbcType=VARCHAR},
      </if>
      <if test="smoking != null">
        #{smoking,jdbcType=VARCHAR},
      </if>
      <if test="drink != null">
        #{drink,jdbcType=VARCHAR},
      </if>
      <if test="favoriteSports != null">
        #{favoriteSports,jdbcType=VARCHAR},
      </if>
      <if test="weeklyExerciseTimes != null">
        #{weeklyExerciseTimes,jdbcType=VARCHAR},
      </if>
      <if test="healthInvestments != null">
        #{healthInvestments,jdbcType=VARCHAR},
      </if>
      <if test="diabetess != null">
        #{diabetess,jdbcType=VARCHAR},
      </if>
      <if test="cardiovascularDiseases != null">
        #{cardiovascularDiseases,jdbcType=VARCHAR},
      </if>
      <if test="skinDiseases != null">
        #{skinDiseases,jdbcType=VARCHAR},
      </if>
      <if test="infections != null">
        #{infections,jdbcType=VARCHAR},
      </if>
      <if test="adverseReactions != null">
        #{adverseReactions,jdbcType=VARCHAR},
      </if>
      <if test="medicalHistorys != null">
        #{medicalHistorys,jdbcType=VARCHAR},
      </if>
      <if test="historyOfSurgery != null">
        #{historyOfSurgery,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amchis.bean.Questionnaire">
    update questionnaire
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="career != null">
        career = #{career,jdbcType=VARCHAR},
      </if>
      <if test="educationalLevel != null">
        educational_level = #{educationalLevel,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null">
        marital_status = #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="sleepCondition != null">
        sleep_condition = #{sleepCondition,jdbcType=VARCHAR},
      </if>
      <if test="smoking != null">
        smoking = #{smoking,jdbcType=VARCHAR},
      </if>
      <if test="drink != null">
        drink = #{drink,jdbcType=VARCHAR},
      </if>
      <if test="favoriteSports != null">
        favorite_sport = #{favoriteSports,jdbcType=VARCHAR},
      </if>
      <if test="weeklyExerciseTimes != null">
        weekly_exercise_time = #{weeklyExerciseTimes,jdbcType=VARCHAR},
      </if>
      <if test="healthInvestments != null">
        health_investment = #{healthInvestments,jdbcType=VARCHAR},
      </if>
      <if test="diabetess != null">
        diabetes = #{diabetess,jdbcType=VARCHAR},
      </if>
      <if test="cardiovascularDiseases != null">
        cardiovascular_disease = #{cardiovascularDiseases,jdbcType=VARCHAR},
      </if>
      <if test="skinDiseases != null">
        skin_disease = #{skinDiseases,jdbcType=VARCHAR},
      </if>
      <if test="infections != null">
        infection = #{infections,jdbcType=VARCHAR},
      </if>
      <if test="adverseReactions != null">
        adverse_reactions = #{adverseReactions,jdbcType=VARCHAR},
      </if>
      <if test="medicalHistorys != null">
        medical_history = #{medicalHistorys,jdbcType=VARCHAR},
      </if>
      <if test="historyOfSurgery != null">
        history_of_surgery = #{historyOfSurgery,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amchis.bean.Questionnaire">
    update questionnaire
    set user_name = #{userName,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      career = #{career,jdbcType=VARCHAR},
      educational_level = #{educationalLevel,jdbcType=VARCHAR},
      marital_status = #{maritalStatus,jdbcType=VARCHAR},
      sleep_condition = #{sleepCondition,jdbcType=VARCHAR},
      smoking = #{smoking,jdbcType=VARCHAR},
      drink = #{drink,jdbcType=VARCHAR},
      favorite_sport = #{favoriteSports,jdbcType=VARCHAR},
      weekly_exercise_time = #{weeklyExerciseTimes,jdbcType=VARCHAR},
      health_investment = #{healthInvestments,jdbcType=VARCHAR},
      diabetes = #{diabetess,jdbcType=VARCHAR},
      cardiovascular_disease = #{cardiovascularDiseases,jdbcType=VARCHAR},
      skin_disease = #{skinDiseases,jdbcType=VARCHAR},
      infection = #{infections,jdbcType=VARCHAR},
      adverse_reactions = #{adverseReactions,jdbcType=VARCHAR},
      medical_history = #{medicalHistorys,jdbcType=VARCHAR},
      history_of_surgery = #{historyOfSurgery,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=TINYINT}
  </update>

  <select id="getQuestionnaire" resultMap="BaseResultMap" parameterType="com.amchis.bean.query.QuestionnaireQuery">
    select
    <include refid="Base_Column_List"/>
    from questionnaire
    <where>
      <if test="name != null">
        AND user_name like "%" #{name} "%"
      </if>
      <if test="startTime !=null and startTime !=''">
        and create_time &gt;= str_to_date(#{startTime},'%Y-%m-%d')
      </if>
      <if test="endTime !=null and endTime !=''">
        and create_time &lt;= DATE_ADD(str_to_date(#{endTime},'%Y-%m-%d'),INTERVAL 1 DAY)
      </if>
    </where>
    order by create_time desc
  </select>
</mapper>