<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amchis.mapper.QuestionnaireMapper">
  <resultMap id="BaseResultMap" type="com.amchis.bean.Questionnaire">
    <id column="id" jdbcType="TINYINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="height" jdbcType="DECIMAL" property="height" />
    <result column="valid" jdbcType="VARCHAR" property="valid" />
    <result column="educational_level" jdbcType="VARCHAR" property="educationalLevel" />
    <result column="career" jdbcType="VARCHAR" property="career" />
    <result column="direct_diabetes" jdbcType="VARCHAR" property="directDiabetes" />
    <result column="is_diabetes_knowledge" jdbcType="VARCHAR" property="isDiabetesKnowledge" />
    <result column="diabetes_type" jdbcType="VARCHAR" property="diabetesType" />
    <result column="diabetes_therapy" jdbcType="VARCHAR" property="diabetesTherapy" />
    <result column="taste" jdbcType="VARCHAR" property="taste" />
    <result column="fruit_vegetable_consumption" jdbcType="VARCHAR" property="fruitVegetableConsumption" />
    <result column="weekly_exercise_time" jdbcType="VARCHAR" property="weeklyExerciseTime" />
    <result column="favorite_sport" jdbcType="VARCHAR" property="favoriteSport" />
    <result column="is_keep_sleeping" jdbcType="VARCHAR" property="isKeepSleeping" />
    <result column="drink" jdbcType="VARCHAR" property="drink" />
    <result column="smoking" jdbcType="VARCHAR" property="smoking" />
    <result column="health_investment" jdbcType="VARCHAR" property="healthInvestment" />
    <result column="Illness" jdbcType="VARCHAR" property="illness" />
    <result column="hypoglycemia" jdbcType="VARCHAR" property="hypoglycemia" />
    <result column="other_chronic_diseases" jdbcType="VARCHAR" property="otherChronicDiseases" />
    <result column="diabetes_complications" jdbcType="VARCHAR" property="diabetesComplications" />
    <result column="is_control_blood_sugar" jdbcType="VARCHAR" property="isControlBloodSugar" />
    <result column="control_blood_sugar_measures" jdbcType="VARCHAR" property="controlBloodSugarMeasures" />
    <result column="use_hypoglycemic_agents" jdbcType="VARCHAR" property="useHypoglycemicAgents" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, gender, phone, weight, height, valid, educational_level, career, direct_diabetes,
    is_diabetes_knowledge, diabetes_type, diabetes_therapy, taste, fruit_vegetable_consumption,
    weekly_exercise_time, favorite_sport, is_keep_sleeping, drink, smoking, health_investment,
    Illness, hypoglycemia, other_chronic_diseases, diabetes_complications,
    is_control_blood_sugar, control_blood_sugar_measures, use_hypoglycemic_agents, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from questionnaire
    where id = #{id,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from questionnaire
    where id = #{id,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.amchis.bean.Questionnaire">
    insert into questionnaire (id, user_name, gender,
      phone, weight, height,
      valid, educational_level, career,
      direct_diabetes, is_diabetes_knowledge, diabetes_type,
      diabetes_therapy, taste, fruit_vegetable_consumption,
      weekly_exercise_time, favorite_sport, is_keep_sleeping,
      drink, smoking, health_investment,
      Illness, hypoglycemia, other_chronic_diseases,
      diabetes_complications,
      is_control_blood_sugar, control_blood_sugar_measures,
      use_hypoglycemic_agents, create_time)
    values (#{id,jdbcType=TINYINT}, #{userName,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{weight,jdbcType=DECIMAL}, #{height,jdbcType=DECIMAL},
      #{valid,jdbcType=VARCHAR}, #{educationalLevel,jdbcType=VARCHAR}, #{career,jdbcType=VARCHAR},
      #{directDiabetes,jdbcType=VARCHAR}, #{isDiabetesKnowledge,jdbcType=VARCHAR}, #{diabetesType,jdbcType=VARCHAR},
      #{diabetesTherapy,jdbcType=VARCHAR}, #{taste,jdbcType=VARCHAR}, #{fruitVegetableConsumption,jdbcType=VARCHAR},
      #{weeklyExerciseTime,jdbcType=VARCHAR}, #{favoriteSport,jdbcType=VARCHAR}, #{isKeepSleeping,jdbcType=VARCHAR},
      #{drink,jdbcType=VARCHAR}, #{smoking,jdbcType=VARCHAR}, #{healthInvestment,jdbcType=VARCHAR},
      #{illness,jdbcType=VARCHAR}, #{hypoglycemia,jdbcType=VARCHAR}, #{otherChronicDiseases,jdbcType=VARCHAR},
      #{diabetesComplications,jdbcType=VARCHAR},
      #{isControlBloodSugar,jdbcType=VARCHAR}, #{controlBloodSugarMeasures,jdbcType=VARCHAR},
      #{useHypoglycemicAgents,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.amchis.bean.Questionnaire">
    insert into questionnaire
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="educationalLevel != null">
        educational_level,
      </if>
      <if test="career != null">
        career,
      </if>
      <if test="directDiabetes != null">
        direct_diabetes,
      </if>
      <if test="isDiabetesKnowledge != null">
        is_diabetes_knowledge,
      </if>
      <if test="diabetesType != null">
        diabetes_type,
      </if>
      <if test="diabetesTherapy != null">
        diabetes_therapy,
      </if>
      <if test="taste != null">
        taste,
      </if>
      <if test="fruitVegetableConsumption != null">
        fruit_vegetable_consumption,
      </if>
      <if test="weeklyExerciseTime != null">
        weekly_exercise_time,
      </if>
      <if test="favoriteSport != null">
        favorite_sport,
      </if>
      <if test="isKeepSleeping != null">
        is_keep_sleeping,
      </if>
      <if test="drink != null">
        drink,
      </if>
      <if test="smoking != null">
        smoking,
      </if>
      <if test="healthInvestment != null">
        health_investment,
      </if>
      <if test="illness != null">
        Illness,
      </if>
      <if test="hypoglycemia != null">
        hypoglycemia,
      </if>
      <if test="otherChronicDiseases != null">
        other_chronic_diseases,
      </if>
      <if test="diabetesComplications != null">
        diabetes_complications,
      </if>

      <if test="isControlBloodSugar != null">
        is_control_blood_sugar,
      </if>
      <if test="controlBloodSugarMeasures != null">
        control_blood_sugar_measures,
      </if>
      <if test="useHypoglycemicAgents != null">
        use_hypoglycemic_agents,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=TINYINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="height != null">
        #{height,jdbcType=DECIMAL},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=VARCHAR},
      </if>
      <if test="educationalLevel != null">
        #{educationalLevel,jdbcType=VARCHAR},
      </if>
      <if test="career != null">
        #{career,jdbcType=VARCHAR},
      </if>
      <if test="directDiabetes != null">
        #{directDiabetes,jdbcType=VARCHAR},
      </if>
      <if test="isDiabetesKnowledge != null">
        #{isDiabetesKnowledge,jdbcType=VARCHAR},
      </if>
      <if test="diabetesType != null">
        #{diabetesType,jdbcType=VARCHAR},
      </if>
      <if test="diabetesTherapy != null">
        #{diabetesTherapy,jdbcType=VARCHAR},
      </if>
      <if test="taste != null">
        #{taste,jdbcType=VARCHAR},
      </if>
      <if test="fruitVegetableConsumption != null">
        #{fruitVegetableConsumption,jdbcType=VARCHAR},
      </if>
      <if test="weeklyExerciseTime != null">
        #{weeklyExerciseTime,jdbcType=VARCHAR},
      </if>
      <if test="favoriteSport != null">
        #{favoriteSport,jdbcType=VARCHAR},
      </if>
      <if test="isKeepSleeping != null">
        #{isKeepSleeping,jdbcType=VARCHAR},
      </if>
      <if test="drink != null">
        #{drink,jdbcType=VARCHAR},
      </if>
      <if test="smoking != null">
        #{smoking,jdbcType=VARCHAR},
      </if>
      <if test="healthInvestment != null">
        #{healthInvestment,jdbcType=VARCHAR},
      </if>
      <if test="illness != null">
        #{illness,jdbcType=VARCHAR},
      </if>
      <if test="hypoglycemia != null">
        #{hypoglycemia,jdbcType=VARCHAR},
      </if>
      <if test="otherChronicDiseases != null">
        #{otherChronicDiseases,jdbcType=VARCHAR},
      </if>
      <if test="diabetesComplications != null">
        #{diabetesComplications,jdbcType=VARCHAR},
      </if>

      <if test="isControlBloodSugar != null">
        #{isControlBloodSugar,jdbcType=VARCHAR},
      </if>
      <if test="controlBloodSugarMeasures != null">
        #{controlBloodSugarMeasures,jdbcType=VARCHAR},
      </if>
      <if test="useHypoglycemicAgents != null">
        #{useHypoglycemicAgents,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amchis.bean.Questionnaire">
    update questionnaire
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=DECIMAL},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=VARCHAR},
      </if>
      <if test="educationalLevel != null">
        educational_level = #{educationalLevel,jdbcType=VARCHAR},
      </if>
      <if test="career != null">
        career = #{career,jdbcType=VARCHAR},
      </if>
      <if test="directDiabetes != null">
        direct_diabetes = #{directDiabetes,jdbcType=VARCHAR},
      </if>
      <if test="isDiabetesKnowledge != null">
        is_diabetes_knowledge = #{isDiabetesKnowledge,jdbcType=VARCHAR},
      </if>
      <if test="diabetesType != null">
        diabetes_type = #{diabetesType,jdbcType=VARCHAR},
      </if>
      <if test="diabetesTherapy != null">
        diabetes_therapy = #{diabetesTherapy,jdbcType=VARCHAR},
      </if>
      <if test="taste != null">
        taste = #{taste,jdbcType=VARCHAR},
      </if>
      <if test="fruitVegetableConsumption != null">
        fruit_vegetable_consumption = #{fruitVegetableConsumption,jdbcType=VARCHAR},
      </if>
      <if test="weeklyExerciseTime != null">
        weekly_exercise_time = #{weeklyExerciseTime,jdbcType=VARCHAR},
      </if>
      <if test="favoriteSport != null">
        favorite_sport = #{favoriteSport,jdbcType=VARCHAR},
      </if>
      <if test="isKeepSleeping != null">
        is_keep_sleeping = #{isKeepSleeping,jdbcType=VARCHAR},
      </if>
      <if test="drink != null">
        drink = #{drink,jdbcType=VARCHAR},
      </if>
      <if test="smoking != null">
        smoking = #{smoking,jdbcType=VARCHAR},
      </if>
      <if test="healthInvestment != null">
        health_investment = #{healthInvestment,jdbcType=VARCHAR},
      </if>
      <if test="illness != null">
        Illness = #{illness,jdbcType=VARCHAR},
      </if>
      <if test="hypoglycemia != null">
        hypoglycemia = #{hypoglycemia,jdbcType=VARCHAR},
      </if>
      <if test="otherChronicDiseases != null">
        other_chronic_diseases = #{otherChronicDiseases,jdbcType=VARCHAR},
      </if>
      <if test="diabetesComplications != null">
        diabetes_complications = #{diabetesComplications,jdbcType=VARCHAR},
      </if>

      <if test="isControlBloodSugar != null">
        is_control_blood_sugar = #{isControlBloodSugar,jdbcType=VARCHAR},
      </if>
      <if test="controlBloodSugarMeasures != null">
        control_blood_sugar_measures = #{controlBloodSugarMeasures,jdbcType=VARCHAR},
      </if>
      <if test="useHypoglycemicAgents != null">
        use_hypoglycemic_agents = #{useHypoglycemicAgents,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amchis.bean.Questionnaire">
    update questionnaire
    set user_name = #{userName,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DECIMAL},
      height = #{height,jdbcType=DECIMAL},
      valid = #{valid,jdbcType=VARCHAR},
      educational_level = #{educationalLevel,jdbcType=VARCHAR},
      career = #{career,jdbcType=VARCHAR},
      direct_diabetes = #{directDiabetes,jdbcType=VARCHAR},
      is_diabetes_knowledge = #{isDiabetesKnowledge,jdbcType=VARCHAR},
      diabetes_type = #{diabetesType,jdbcType=VARCHAR},
      diabetes_therapy = #{diabetesTherapy,jdbcType=VARCHAR},
      taste = #{taste,jdbcType=VARCHAR},
      fruit_vegetable_consumption = #{fruitVegetableConsumption,jdbcType=VARCHAR},
      weekly_exercise_time = #{weeklyExerciseTime,jdbcType=VARCHAR},
      favorite_sport = #{favoriteSport,jdbcType=VARCHAR},
      is_keep_sleeping = #{isKeepSleeping,jdbcType=VARCHAR},
      drink = #{drink,jdbcType=VARCHAR},
      smoking = #{smoking,jdbcType=VARCHAR},
      health_investment = #{healthInvestment,jdbcType=VARCHAR},
      Illness = #{illness,jdbcType=VARCHAR},
      hypoglycemia = #{hypoglycemia,jdbcType=VARCHAR},
      other_chronic_diseases = #{otherChronicDiseases,jdbcType=VARCHAR},
      diabetes_complications = #{diabetesComplications,jdbcType=VARCHAR},
      is_control_blood_sugar = #{isControlBloodSugar,jdbcType=VARCHAR},
      control_blood_sugar_measures = #{controlBloodSugarMeasures,jdbcType=VARCHAR},
      use_hypoglycemic_agents = #{useHypoglycemicAgents,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=TINYINT}
  </update>

  <select id="getQuestionnaire" resultMap="BaseResultMap" parameterType="com.amchis.bean.query.QuestionnaireQuery">
    select
    <include refid="Base_Column_List"/>
    from questionnaire
    <where>
      <if test="name != null and name !=''">
        AND user_name like "%" #{name} "%" OR phone like "%" #{name} "%"
      </if>
      <if test="startTime !=null and startTime !=''">
        and create_time &gt;= str_to_date(#{startTime},'%Y-%m-%d')
      </if>
      <if test="endTime !=null and endTime !=''">
        and create_time &lt;= DATE_ADD(str_to_date(#{endTime},'%Y-%m-%d'),INTERVAL 1 DAY)
      </if>
    </where>
    order by create_time desc
  </select>
</mapper>